.main h2{

text-align: center;
font-size: 24px;
font-family:cursive;
font-weight: 700;

}

.container{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 0px 8px 16px;
gap: 16px;
border: 1px solid #024166;
  
}


.container img{

width: 300px;
border-radius: 4px;

}

.ai-details{

width: 60%;
border: 1px solid #024166;
}

.ai-details h3{
font-size: 20px;   
font-weight: 600;
color: #2f0c68;
font-family: cursive;
}

.ai-details p{
 color: #100227;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 8px;

}



.button-Aiproject {

    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;

}

.button-Aiproject p:nth-child(1){

 color: whitesmoke;
    background: #024166;
    padding: 4px 8px;


}

.button-Aiproject p:nth-child(2){

 color: whitesmoke;
    background: #660255;
    padding: 4px 8px;


}
