.form-section{

margin: 100px 0;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}

.form-section h2{


font-size: 30px;
color: rgb(17, 4, 41);
font-weight: 500;


}



#sendingSpan{

position: absolute;
background: rgb(3, 54, 3);
color: whitesmoke;

}



form{


margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
flex-direction: column;
 width: 50vw;
padding:20px 10px 30px 10px;
background: #afafae85;
border-radius: 8px;

}

 
form label{


font-family: sans-serif;
color: darkblue;
text-align: left;
width: 100%;
padding-left: 10%;

}

 input{

 
background:rgb(255, 254, 254);
padding: 12px;
border-radius: 16px;
 outline: none;
width: 70%;


}

#message{



background:rgb(255, 254, 254);
padding: 12px;
border-radius: 16px;
 outline: none;
width: 70%;
height: 150px;
padding: 30px;
vertical-align: top;
overflow-y: auto;
white-space: pre-wrap;
word-wrap: break-word;
box-sizing: border-box;
resize: none;

}

#message::-webkit-scrollbar{

width: 4px;

}

#message::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


.submit{


margin-top: 20px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;


}

.submit #submit{


width: 60%;
cursor: pointer;
color: whitesmoke;
background: green;
padding: 4px;
font-family: sans-serif;
font-size: 18px;


} 

#submit:active{


color: brown;


}



/*============================ media query============================== */

@media only screen and (max-width:412px) {
    

.form-section h2{


font-size: 6vw;


}



form {


width: 85%;

}


}


