footer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    padding: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px gray;
    background: rgb(10, 29, 48);
    width: 100%;

}

.Social-links {


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    color: rgb(245, 244, 247);
    border-bottom: 1px solid gray;
    width: 180px;
    padding-bottom: 4px;

}

.Social-links li {


    text-align: left;
    list-style: none;
    cursor: pointer;
    margin: 3px;
    font-size: 20px;

}

.Social-links li:hover {


    color: rgb(35, 66, 245);


}



.developer {

    margin-top: 2px;
    text-align: center;
    color: rgb(0, 119, 255);


}


/* =====================  media query ========================== */


@media only screen and (max-width:412px) {



    footer {



        position: fixed;
        bottom: 0;


    }

    .Social-links li {



        font-size: 23px;

    }


    .Social-links {


        margin: 5px 0;


    }

    .developer {


        margin-bottom: 5px;

    }


}