 .nav-container {


    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
    width: 100%;
    background: rgb(10, 29, 48);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 222;
    box-shadow: 0 0 2px rgb(18, 10, 29);

 }


 .nav-logo {




    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 25px;

 }


 .nav-logo img {


    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;

 }


 .nav-logo h2 {


    font-family: sans-serif;
    font-size: 18px;
    color: rgb(197, 201, 8);
    cursor: pointer;


 }


 ul {


    display: flex;
    gap: 16px;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 100px;

 }

 .link {


    font-family: sans-serif;
    font-size: 18px;
    color: rgb(197, 201, 8);



 }

 .link:hover {

    color: green;
    border-bottom: 1px solid green;



 }




 .Activelink {



    font-family: sans-serif;
    font-size: 18px;
    background: green;
    padding: 4px;
    border-radius: 8px;
    color: whitesmoke;


 }


 .mobile-nav-icon {



    color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 400;
    list-style: none;
    display: none;


 }





 /* =================== media query ============ */


 @media only screen and (max-width:412px) {




    .nav-logo {


       margin-left: 0;


    }



    ul {
       display: none;
       flex-direction: column;
       position: absolute;
       background: #101018be;
       padding: 100px;
       width: 300px;
       top: 90px;
       border-radius: 8px;


    }

    ul .Activelink {

       padding: 5px 80px;


    }


    .mobile-nav-icon {


       display: flex;
       margin-right: 8px;


    }

    .cancel {


       display: none;


    }


 }