.services {

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(2, 3, 12);
    border-bottom: .5px solid rgb(32, 11, 66);
}

.horizontal-align {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ul-service {


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 40%;
    padding: 0 20px;

}

.ul-service>li {

    list-style: disc;
    width: 100%;
    font-size: 20px;
    color: rgb(2, 61, 2);

}

.ul-service>li:hover {

    color: rebeccapurple;
    cursor: pointer;

}

.service-img {

    width: 300px;
    height: 300px;

}

@media only screen and (max-width:850px) {


    .services {


        padding: 0 0 80px 0;
        margin-bottom: 350px;
    }

    .horizontal-align {

        flex-direction: column-reverse;
        justify-items: center !important;
        align-items: center !important;

    }

    .ul-service {

        width: 90%;
        background: none;
        margin-top: 200px;
        padding: 30px;
    }


}