.whatsapp{

position: absolute;
bottom: 20px;
right: 20px;
z-index: 2;

}

.whatsapp img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.whatsapp img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* ===================== Media Queries */

@media only screen and (max-width: 412px) {
    .whatsapp{
        bottom: 100px;
        right: 15px;
    }

     
}