footer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    padding: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px gray;
    background: rgb(10, 29, 48);
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;


}

.Social-links {




    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    color: rgb(96, 230, 6);
border-bottom: 1px solid gray;
width: 180px;
padding-bottom: 4px;

}

.Social-links li {


    text-align: left;
    list-style: none;
    
    cursor: pointer;


}

.Social-links li:hover {


    color: green;
    border-bottom: 1px solid green;

}



.developer {

    margin-top: 2px;
    text-align: center;
    color: rgb(0, 119, 255);


}
 