.nav-container{


display: flex;
flex-direction: row;
padding: 12px;
justify-content: space-between;
position: fixed;
/* background: #bdb3b3af; */
width: 100%;
background: rgb(10, 29, 48);
top:0;
left: 0;
 z-index: 222;
box-shadow: 0 0 2px npm run dergb(18, 10, 29);

}


.nav-logo{




display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8px;
margin-left: 25px;

}


.nav-logo img{


height: 50px;
width: 50px;
border-radius: 100%;
cursor: pointer;

}


.nav-logo h2{


font-family: sans-serif;
font-size: 18px;
color: rgb(197, 201, 8);
cursor: pointer;


}


ul{


display: flex;
gap: 16px;
margin-right: 25px;
justify-content: center;
align-items: center;
 

}
 
.link{


font-family: sans-serif;
font-size: 18px;
color: rgb(197, 201, 8);
 
 

}

.link:hover{

color: green;
border-bottom: 1px solid green;



}

 


.Activelink{

 

font-family: sans-serif;
font-size: 18px;
background: green;
padding: 4px;
border-radius: 8px;
color: whitesmoke;


}