.project-section {


    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 70px;


}



.project-section h2 {


    font-size: 3.1vw;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: rgb(5, 5, 109);
    border-bottom: .5px solid green;



}



.project-container {


    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    padding: 40px;
    width: 90%;
    gap: 8px;
    column-gap: 7px;


}


.project {
    background: rgb(3, 7, 12);
    box-shadow: 0 0 4px gray;
    display: flex;
    gap: 4px;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;


}

.project div>img {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 10px rgb(248, 248, 250);
    border-radius: 50%;
    margin-bottom: 4px;
}





.project:hover {



    background: rgba(1, 1, 17, 0.911);



}



.project img {


    height: 15vh;
    width: 15vh;



}

.project p {

    color: rgb(229, 247, 231);
    text-align: center;


}

.project p:nth-child(3) {
    margin-top: -5px;
    color: rgb(172, 45, 13);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.project p:nth-child(3):hover {

    color: green;


}

.project p:nth-child(4) {

    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 6px;
    color: blue;

}




/* ============ media query ================================== */



@media only screen and (max-width:998px) {

    .project-container {


        grid-template-columns: 350px 350px;



    }


}

@media only screen and (max-width:740px){


.project-container{

grid-template-columns: 240px 240px;
margin-top: -30px;
}

.project-section h2{

font-size: 6vw;

}

.project-section{

margin-bottom: 90px;

}


}


@media screen and (max-width:500px) {


.project-container{

grid-template-columns: 180px 180px;


}


    .project-section {



        border: 1px solid red;


    }



    .project-section h2 {

        font-size: 8.5vw;
        text-align: center;
        margin-top: 8px;
        width: 100%;
        margin-bottom: 8px;

    }
 
 


}