.project-section {


    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 70px;


}



.project-section h2 {


    font-size: 3.1vw;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: rgb(5, 5, 109);
    border-bottom: .5px solid green;



}



.project-container {


    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    padding: 40px;
    width: 90%;
    gap: 8px;
    column-gap: 7px;
    border: 1px solid red;


}


.project {
    background: rgb(43, 91, 146);
    box-shadow: 0 0 4px gray;
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
    cursor: pointer;
    transition: 0.1s;


}





.project:hover {



background:rgb(35, 79, 129) ;



}



.project img {


    height: 15vh;
    width: 15vh;



}

.project p {

    color: rgb(229, 247, 231);
    text-align: center;


}

.project p>span {


    color: rgb(192, 4, 42);
    font-weight: 600;

}






/* ============ media query ================================== */



@media only screen and (max-width:998px) {

.project-container{


grid-template-columns: 400px 400px;



}

    
}



@media screen and (max-width:412px) {


    .project-section {



        border: 1px solid red;


    }



    .project-section h2 {

        font-size: 8.5vw;
        text-align: center;
        margin-top: 8px;
        width: 100%;
        margin-bottom: 8px;

    }

    .project-container {


        width: 100%;


    }


    .project {

        width: 270px;



    }


}